#topBar{
    color: #ececec;
    background-color: #7b1fa2;
    position: fixed;
    top : 0;
    left : 0;
    right: 0;

    height: 70px;
    line-height: 70px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    text-align: center;

    display : flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    padding : 0 20px;
}

#topBar > h2{
    margin : 0;
}

#btnlogout{

    text-align: center;
}

#user-button{
    background: transparent;
    border : none;
    line-height: 1;
    padding : 15px;
    text-align: left;
}

#user-button:hover{
    background: rgba(255,255,255, 0.2);
    cursor : pointer;
}

#mainContent{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top : 70px;
    padding : 25px;

    background: white;
}

#mainContent > div{
    margin : 20px 0;
}

dialog {
    border : 0;
    min-width: fit-content;
    width: 50%;

    border-radius: 20px;
    padding : 25px;
}

dialog + .backdrop {
    background-color : rgba(0,0,0, 0.70);
}

dialog > form {
    display : flex;
    flex-direction: column;
    justify-content: center;
}

input {
    width : 100%;
    margin : 10px 0  ;
    padding : 5px;
}

dialog > form > div {
    display: flex;
    flex-direction : row;
    justify-content: space-around;
    margin : 10px 0;
}

textarea {
    resize: none;
}

form > div > button {

    min-width: 100px;
    width: 15%;
}

.action-cell {
    display : flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.action-cell>button, .action-cell>form, .action-cell>form>button{
    margin : 0 10px 0 0;
    background: transparent;
}

.action-cell>button:hover, .action-cell>form>button:hover{
    background: rgba(0,0,0,0.2);
}