/*
    Main color :
    Secondary :
*/

body{
    font-family: Helvetica, Roboto, serif;
    /*background-color : #ececec;*/
    height: 100%;
}

ul{
    color : red;
    list-style-type: none;
}


.btn-material-text > .material-icons{
    margin-right : 5px;

}

.btn-material, .btn-material-text{
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.btn-material{
    padding: 0 5px;
}

td, tr{
    min-width: fit-content;
}