body{

    display : flex;
    flex-direction : row;
    align-items:center;
    margin : 0;
    padding: 0;

}

#colorBand{
    z-index: 10;
    width: 30%;
    height: 100%;
    background-color: #7b1fa2;
    color: #e3e3e3;
    box-shadow: 0px 14px 28px rgba(0,0,0,0.25), 5px 10px 10px rgba(0,0,0,0.22);
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;

}

#colorBand > h1{
    margin-bottom : 150px;
}
#contentZone{
    width : 70%;
    height: 100%;
    background-color: #d3d3d3;

    display: flex;
    justify-content: center;
    align-content: center;
}


table{
    width : 50%;
    padding : 20px;
    align-self : center;
    background: #f3f3f3;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

form{
    display : inline-flex;
    flex-direction : column;
    align-content : center;
    justify-content : space-evenly;
    width : 80%;
    margin: 0;
    padding : 15px;
}

th{
    margin-bottom: 15px;
}

td, th{
    margin : 15px;
    text-align: center;
    width: 50%;
}



input{
    text-align : center;
    width: 100%;
    padding : 5px;
    margin: 2px;
}

input[type=submit]{
    padding : 10px;
    margin: 20px 0;
    border: 0;
    cursor : pointer;

    background-color: #ae52d4;
}

input[type=submit]:hover{
    background : #c1c1c1;
}